.react-tel-input > input.form-control {
  background-color: #f4f3f4 !important;
  border: none !important;
  height: 38px !important;
  width: 100% !important;
}

.react-tel-input > input.form-control:disabled {
  background-color: #fff !important;
  border: 1px solid #d0d0d0 !important;
}

.react-tel-input .flag-dropdown.open-dropdown .selected-flag,
.react-tel-input .flag-dropdown:hover .selected-flag,
.react-tel-input .flag-dropdown.open-dropdown,
.react-tel-input > .flag-dropdown,
.react-tel-input .selected-flag {
  background-color: transparent !important;
  border: none !important;
  z-index: inherit !important;
}

.react-tel-input .selected-flag {
  padding-left: 12px !important;
}
