.react-phone-number-input {
  border: 1px solid #EEF2F4 !important;
  border-radius: 0.2em;
  padding: 0.2em;
  width: 100% !important;
}

.react-phone-number-input input {
  border: none !important;
}

.react-phone-number-input,
.react-phone-number-input input {
  height: 38px !important;
}

.react-phone-number-input input:disabled {
  border: 1px solid #d0d0d0 !important;
}

.react-phone-number-input .flag-dropdown.open-dropdown .selected-flag,
.react-phone-number-input .flag-dropdown:hover .selected-flag,
.react-phone-number-input .flag-dropdown.open-dropdown,
.react-phone-number-input > .flag-dropdown,
.react-phone-number-input .selected-flag {
  background-color: transparent !important;
  border: none !important;
  z-index: inherit !important;
}

.react-phone-number-input .selected-flag {
  padding-left: 12px !important;
}
